---
title: About
description: We've built an amazing team of developers, marketers, designers and sales people.
image: https://source.unsplash.com/BcoGknSqlDc/2000x1322?a=.png
---

<section
  class="hero"
  style="background-image: url({% include relative-src.html src=page.image %})"
>
  <div class="inner-hero text-container">
    <div class="hero-text-container">
      <h1 class="editable">My Story</h1>
      <p class="subtext editable">Yes I am just lazy to write anything here.</p>
    </div>
  </div>
</section>

<section class="pad">
  <div class="container">
    <p class="editor-link">
      <a href="cloudcannon:collections/_staff_members" class="btn"
        ><strong>&#9998;</strong> Manage Staff Members</a
      >
    </p>
    <ul class="staff">
      {% for person in site.staff_members %}
      <li>
        <div
          class="square-image"
          style="background-image: url({% include relative-src.html src=person.image_path %})"
        ></div>
        <div class="name">
          <a
            target="_blank"
            href="https://twitter.com/{{ person.twitter_username }}"
            >{{ person.name }}</a
          >
        </div>
        <div class="position">{{ person.position }}</div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
