---
title: Contact
description: Send us a message to find out more!
map:
  latitude: -45.8787605
  longitude: 170.5027976
  address: "1 George Street, Dunedin, New Zealand"
  zoom: 13
image: /images/bonn.jpeg
---

<section
  class="hero"
  style="background-image: url({% include relative-src.html src=page.image %})"
>
  <div class="inner-hero text-container">
    <div class="hero-text-container">
      <h1 class="editable">Contact Me</h1>
      <p class="subtext editable">
        I can be reached via the following address:
      </p>
      <p>
        Mathematisches Institut, University of Göttingen <br />
        Bunsenstr. 3-5 <br />
        37073 Göttingen <br />
        Germany
      </p>
      <p></p>
      <p></p>
      <p></p>
    </div>
  </div>
</section>

<section class="pad">
  <div class="text-container contact-box">
    <form
      action="{{ site.baseurl }}/contact-success/"
      method="post"
      class="contact-form"
    >
      <input type="hidden" name="_to" value="support@cloudcannon.com" />
      <input type="text" name="_gotcha" style="display: none;" />

      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Enter your name..."
      />

      <label for="email">Email Address</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter your email..."
        required
      />

      <label for="message">Message</label>
      <textarea
        name="message"
        id="message"
        placeholder="Enter your message..."
      ></textarea>

      <input type="submit" value="Send Message" />
    </form>

    <div class="contact-details">
      <h3>Address</h3>
      <address>
        <a
          target="_blank"
          href="https://www.google.com/maps/place/{{ page.map.address | url_encode }}"
          >{{ page.map.address | replace: ", ", ", <br />" }}</a
        >
      </address>

      <h3>Email</h3>
      <p class="editable">
        <a href="mailto:support@example.com">support@example.com</a>
      </p>
    </div>
  </div>
</section>

<div class="map" id="map"></div>

<script>
  window.mapData = {{ page.map | jsonify }};

  function initMap() {
  	var myOptions = {
  		scrollwheel: false,
  		draggable: false,
  		panControl: false,
  		disableDefaultUI: true,
  		styles: [{"featureType":"landscape.man_made","elementType":"geometry","stylers":[{"color":"#f7f1df"}]},{"featureType":"landscape.natural","elementType":"geometry","stylers":[{"color":"#d0e3b4"}]},{"featureType":"landscape.natural.terrain","elementType":"geometry","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"poi.business","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.medical","elementType":"geometry","stylers":[{"color":"#fbd3da"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#bde6ab"}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffe15f"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#efd151"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"color":"black"}]},{"featureType":"transit.station.airport","elementType":"geometry.fill","stylers":[{"color":"#cfb2db"}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#a2daf2"}]}],
  		zoom: window.mapData.zoom,
  		maxZoom: window.mapData.zoom,
  		minZoom: window.mapData.zoom,
  		center: new google.maps.LatLng(window.mapData.latitude, window.mapData.longitude),
  		mapTypeId: google.maps.MapTypeId.ROADMAP
  	};

  	var map = new google.maps.Map(document.getElementById('map'), myOptions);

  	var marker = new google.maps.Marker({
  		map: map,
  		position: new google.maps.LatLng(window.mapData.latitude, window.mapData.longitude)
  	});

  	google.maps.event.addDomListener(window, 'resize', function() {
  		map.setCenter(myOptions.center);
  	});
  }
</script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key={{ site.google_maps_javascript_api_key }}&amp;callback=initMap"
></script>
