---
title: Home
description: The latest app to help you find new friends with common interests.
image: images/background.jpeg
bottom_image: images/bottom.jpeg
---

<section
  class="hero"
  style="background-image: url({% include relative-src.html src=page.image %})"
>
  <div class="inner-hero text-container">
    <div class="hero-text-container">
      <h1 class="editable">Zhipeng Yang's Homepage</h1>
      <p class="subtext editable">
        Mathematician & Cook
      </p>
      <div class="cta button alt"><a href="contact">Contact Me</a></div>
    </div>
  </div>
  <div class="learn-more">
    <a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a>
  </div>
</section>

<div class="content">
  <section class="info" id="learn-more">
    <div class="container flex">
      <div class="text">
        <h2 class="editable">About Me</h2>
        <p class="editable">
          I am currently a doctoral student in
          <a href="https://www.uni-goettingen.de/de/20693.html"
            >University of Göttingen</a
          >. My advisor is
          <a href="https://www.uni-math.gwdg.de/iwitt/">Ingo Witt</a>.
          Previously I was a master student of Dr.
          <a href="https://math.ynnu.edu.cn/info/1022/1391.htm">Fukun Zhao</a>
          at <a href="https://www.ynnu.edu.cn/">Yunnan Normal University</a> and
          did my undergraduate studies at
          <a href="http://www.hrbnu.edu.cn/">Harbin Normal University</a>.
        </p>
        <p class="editable">
          The PDF version of my Vitae can be found
          <a href="src/CV.pdf">here</a>.
        </p>
      </div>
      <div class="image">
        <img class="editable" src="images/head.jpeg" alt="Screenshot" />
      </div>
    </div>
  </section>

  <section class="info">
    <div class="container flex">
      <div class="text">
        <h2 class="editable">Research Interests</h2>
        <p class="editable">
          My research interests are Harmonic Analysis and Partial Differential
          Equations, arising from physics, geometry and biology. More
          specifically, I am interested in the application of variation methods
          to homogeneous groups.
        </p>
      </div>
      <div class="image">
        <img
          class="editable"
          src="http://placehold.it/650x1300"
          alt="Screenshot"
        />
      </div>
    </div>
  </section>

  <section class="info">
    <div class="container flex">
      <div class="text">
        <h2 class="editable">Cooking</h2>
        <p class="editable">
          Besides mathematics, I am also an enthusiast in cooking. Here is a
          picture of the banquet I prepared for Chinese New Year's Eve.
        </p>
      </div>
      <div class="image">
        <img class="editable" src="images/food.jpeg" alt="Screenshot" />
      </div>
    </div>
  </section>

  <section
    class="hero"
    style="background-image: url({% include relative-src.html src=page.bottom_image %})"
  >
    <div class="inner-hero text-container">
      <div class="hero-text-container">
        <h2 class="editable">
          Wir werden wissen, <br />
          wir müssen wissen.
        </h2>
        <p class="subtext editable float-right">
          David Hilbert
        </p>
        <!-- <div class="cta button alt"><a href="#">Join Now</a></div> -->
      </div>
    </div>
  </section>
</div>
