---
title: Blog
description: Keep up with the latest news.
image: https://source.unsplash.com/MqJX_8EaStM/2000x1322?a=.png
---

<section
  class="hero"
  style="background-image: url({% include relative-src.html src=page.image %})"
>
  <div class="inner-hero text-container">
    <div class="hero-text-container">
      <h1 class="editable">The latest news</h1>
      <p class="subtext editable">
        Hear the latest progress on my research work. I might blog from time to
        time. Now is NONE.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="text-container">
    <p class="editor-link">
      <a href="cloudcannon:collections/_posts" class="btn"
        ><strong>&#9998;</strong> Add Post</a
      >
    </p>
    <ul class="blog-posts">
      {% include list-posts.html posts=paginator.posts %}
    </ul>

    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
      <a
        href="{{ site.baseurl }}{{ paginator.previous_page_path }}"
        class="previous btn"
        >&larr; Newer posts</a
      >
      {% endif %}

      <span class="page_number "
        >{{ paginator.page }} of {{ paginator.total_pages }}</span
      >

      {% if paginator.next_page %}
      <a
        href="{{ site.baseurl }}{{ paginator.next_page_path }}"
        class="next btn"
        >Older posts &rarr;</a
      >
      {% endif %}
    </div>
    {% endif %}
  </div>
</section>
